<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>change page</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div>
  <form
          th:object="${user}"
          th:method="post"
          th:action="@{/user/merge_update/{id}(id=${user.id})}"

          style="width: 500px; height: 300px; margin-top: 200px; margin-left: 500px">

    <div class="form-group">
      <label for="exampleInputEmail1">user name</label>
      <input th:field="${user.name}" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
             placeholder="user name">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">age</label>
      <input th:field="${user.age}" type="text" class="form-control" id="exampleInputPassword1" placeholder="age">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
</body>
</html>